[cloudstack]
endpoint = "{{ endpoint_url|regex_replace('^[\'"]?(.*)[\'"]?$','"\\1"') }}"
key = "{{ api_key|regex_replace('^[\'"]?(.*)[\'"]?$','"\\1"')}}"
secret = "{{ api_secret|regex_replace('^[\'"]?(.*)[\'"]?$','"\\1"') }}"
timeout = 30
