-----BEGIN CERTIFICATE-----
MIIDqDCCApACCQDXDyfaoUk+nzANBgkqhkiG9w0BAQUFADCBlTELMAkGA1UEBhMC
VVMxETAPBgNVBAgMCE1hcnlsYW5kMRIwEAYDVQQHDAlGcmVkZXJpY2sxDTALBgNV
BAoMBGV2YXkxDzANBgNVBAsMBmRldm9wczEVMBMGA1UEAwwMKi5ldmF5LmNsb3Vk
MSgwJgYJKoZIhvcNAQkBFhl2aW5jZW50LmRvbmtvckBldmF5LmNsb3VkMB4XDTE5
MDEwMTAxMDcxOVoXDTI4MTIyOTAxMDcxOVowgZUxCzAJBgNVBAYTAlVTMREwDwYD
VQQIDAhNYXJ5bGFuZDESMBAGA1UEBwwJRnJlZGVyaWNrMQ0wCwYDVQQKDARldmF5
MQ8wDQYDVQQLDAZkZXZvcHMxFTATBgNVBAMMDCouZXZheS5jbG91ZDEoMCYGCSqG
SIb3DQEJARYZdmluY2VudC5kb25rb3JAZXZheS5jbG91ZDCCASIwDQYJKoZIhvcN
AQEBBQADggEPADCCAQoCggEBAMSZEQ6RvR8eQYku9pfgXw35mcG+Jx+Zh0lQ6NAM
vQbJbGeC7Bs6uxx2uAOKIgEopfGu3xryA11b9W8eleXv4DxIwiIaRjE4VNb/RING
bHcDIDQtIW465Y0PyT9VihxWTYCRhrMmSrnVj1/dxpMQb2TuWstrFPX51FTaBhJb
NxeRI78+AzQTXqt/4lL7w6tM5dOuC4/rOVEkNLI1c+QvjU6IOaCwqZpoNug3N0rH
MS+fnNq0xg6mgpBkPLIpHQ6FFiRYWif9bYDU0fbOu/Z48FHm1M/JODj3BwLx0wsE
UIZ/Ai9HiiIHOMD87+x/gaOCBLbjAVqQqN1xeKMX5RayzIsCAwEAATANBgkqhkiG
9w0BAQUFAAOCAQEAvdgTPrNzc+XfV7fVlHU9d90uEo8VuBN33Kg8lA+Y6iKsxr1u
HsypC867Qu0SMkN7I3HfBnoPmgAEd/4ut+l3Xf4cs45mDdgGDaGi8J7No0WyaaVQ
SBAqspxBfVXVdHUeE/EfkY4ioIFHY1GH1Pt+uzPvvUyT6YTKDpd9QF4ADzDG1hmk
kAtCZgnrvVqrpaQPQlRGq+ssQUWAKP04RAbJYFTpqMGPNALC++njn8pyWZ9D+oNX
6FIk20gSCfCxWLP966jelbOmCWyc+1Z5dCHirFH3leP1rm7f5WHeT+6oSJ4qjBGx
cvLqYtSt6Q8RpOkMOC1FThv0HOibwHak1bf4Og==
-----END CERTIFICATE-----
